div img {
    width: 10%;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

body {
    width: 640px;
    height: auto;
}

h2 {
    font-size: 20px;
    margin: 10px;
}

main {
        height: auto;
}

#preview {
    opacity: 0;
    background-image: none;
}

input {
    opacity: 0;
}

@media screen and (min-width: 640px) {
    body {
        width: 100%;
    }

    #thumb-bar img {
        width: 100px;
    }

    #preview {
        width: 400px;
    }

    p {
        font-size: 18px;
        padding: 8px;
    }

    input {
        padding: 10px;
        margin: 6px;
        font-size: 16px;
    }
}